<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>board sample for firebase (Realtime Database)</title>
</head>
<body>
	<a href="messageForm">New</a>
					
	<table border="1" style="width:600px">
		<caption>message sample for firebase (Realtime Database)</caption>
		<colgroup>
			<col width='8%' />
			<col width='*%' />
			<col width='15%' />			
			<col width='15%' />
		</colgroup>
		<thead>
			<tr>
				<th>No.</th> 
				<th>name</th>
				<th>content</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
		<%
			 for(var i=0; i<rows.length; i++) {
		%>
			<tr>
				<td><%=rows.length-i%></td>
				<td><a href='messageRead?no=<%=rows[i].no%>'><%=rows[i].content%></a></td>
				<td><%=rows[i].name%></td>
				<td><%=rows[i].date%></td>
			</tr>
		<%
			 }
		%>
		</tbody>
	</table>    
</body>
</html>